.our-menu{
   height: 600px;
   padding: 50px;


    .info{
        text-align: center;
        margin: 0 auto;

        
    h3 {
        font-family: "Herr Von Muellerhoff", cursive;
        color: $primary-color;
        font-size: 54px;
      }
      h2 {
        color: $secondary-color;
        font-size: 44px;
        font-family: "Playfair Display", serif;
     
      }
      .stylish-line {
        margin: 25px 0;
      }
  
    }
}